

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="RecoverPassword" method="get">
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" id="Email" name="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Далее</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}